<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Book</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
</head>
<body>
<div class="container-lg   border-primary m-5 cb justify-content-center">
    <div id="example-div" class=" d-flex aligns-items-center justify-content-center" style="height:100px">
        <h1>TCN CCG Contact Book</h1>
    </div>

    <div class="row border col-md-6">
        <nav class="navbar navbar-light bg-light justify-content-between">
            <!--                  <a class="navbar-brand">Contacts</a>-->

            <form class="form-inline" method="GET">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="q">
            </form>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

            <div class="col-md-5">
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#CreateContactModal">
                    Add Contact
                </button>
            </div>
        </nav>
    </div>
    <!--    Update Form -->
    <!--
    <div class="" id="" tabindex="-1" aria-labelledby="" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">

                  <div class="modal-header">
                    <h5 class="modal-title" id="">Update Contact for #{{ cb.id }} {{ cb.first_name}} {{ cb.last_name }} </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form method="POST" action="{{ url_for('update', id=cb.id) }}">
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name" name="first_name" value="{{ cb.first_name }}">
      </div>
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" name="last_name" value="{{ cb.last_name }}">
      </div>
      <div class="form-group">
        <label for="phone_number">Phone Number</label>
        <input type="text" class="form-control" id="phone_number" name="phone_number" value="{{ cb.phone_number }}">
      </div>

       <div class="form-group">
        <label for="phone_number">Phone Number</label>
        <input type="text" class="form-control" id="email" name="email" value="{{ cb.email }}">
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>


                </div>
              </div>
            </div>
     -->

    <!--    <div class="container-lg border-primary m-5 cb justify-content-center" id="UpdateContact" tabindex="-1" role="dialog" aria-labelledby="UpdateContactLabel"-->
    <!--         aria-hidden="true">-->
    <div class="row col-xl-6 mb-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="d-flex align-items-center p-2 fw-bold" id=""> Update Contacts</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="" aria-label="Close" onclick="history.back()"></button>
                </div>
                <form action="" method="post">
                    <div class="modal-body">
                        <div class="row g-2 d-grid gap-5">
                            <div class="col-md">
                                <div class="form-floating form-group">
                                    <!--                                    <label for="first_name" >First Name</label>-->
                                    <input type="input" class="form-control" id="first_name" name="first_name"
                                           placeholder="first name" value="{{ cb.first_name }}" required>
                                </div>
                            </div>
                        </div>

                        <div class="row g-2 d-grid gap-3">
                            <div class="col-md">
                                <div class="form-floating form-group">
                                    <!--                                    <label for="last_name">Last Name</label>-->
                                    <input type="input" class="form-control" id="last_name" name="last_name"
                                           placeholder="last name" value="{{ cb.last_name }}" required>
                                </div>
                            </div>
                        </div>

                        <div class="row g-2 d-grid gap-3">
                            <div class="col-md">
                                <div class="form-floating form-group">
                                    <!--                                    <label for="email">Email address</label>-->
                                    <input type="email" class="form-control" id="email" name="email"
                                           placeholder="name@example.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  value="{{ cb.email }}" required>
                                </div>
                            </div>
                        </div>

                        <div class="row g-2 d-grid gap-3">
                            <div class="col-md">
                                <div class="form-floating form-group">
                                    <!--                                    <label for="phone_number">Phone Number</label>-->
                                    <input type="phone" class="form-control" id="phone_number" name="phone_number"
                                           placeholder="xxxx-xxxx-xxx" minlength="11" maxlength="13" pattern="[0-9]*" value="{{ cb.phone_number }}" required>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="window.location='{{ url_for('index') }}'">Cancel</button>
                        <button type="submit" class="btn btn-primary">Update Contact</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- End Update Contact Model -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>
</html>